<md-toolbar class="app-header" color="primary">
  <span class="header-span">Maersk Github App</span>
  <span class="fill-remaining-space"></span>
  <md-input-container color="secondary">
    <input mdInput placeholder="Search for github user">
  </md-input-container>
  <span class="fill-remaining-space"></span>
  <span class="header-span">Welcome, {{user.login}}</span>
</md-toolbar>
<div class="search-container">
  <div class="search-results" *ngIf="searchResults">
    <h2>Search Results</h2>
  </div>
</div>
