.user-statistics {
  margin-top: 10px;
  h2, h4 {
    font-weight: 300;
    text-align: center;
  }

  .chart {
    padding: 0px 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
}
