.index-component {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 450px;
  text-align: center;
  & h1 {
    font-weight: 300;
    margin-top: 0px;
  }

  & .login-card {

  }
}
