<div class="dashboard-component" *ngIf="user">

  <app-header [user]="user"></app-header>

  <div class="profile-body">
    <div fxLayout="row" fxLayoutGap="0px" fxLayoutWrap class="user-details">
      <div fxFlex="33%" fxFlex.lt-md="33%" class="basic-user-details">
        <md-card>
          <md-card-header>
            <div md-card-avatar class="user-avatar"><img src="{{user.avatar_url}}"></div>
            <md-card-title><a routerLink="/user/{{user.login}}" routerLinkActive="active">{{user.login}}</a></md-card-title>
            <md-card-subtitle>Following: {{user.following}}, Followers: {{user.followers}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            Joined github on {{user.created_at}}
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33%" fxFlex.lt-md="33%" class="basic-user-details" *ngIf="repos">
        <md-card>
          <md-card-header>
            <md-card-title>{{user.login}}'s Misc stats</md-card-title>
          </md-card-header>
          <md-card-content>
            <strong>Repo Count: </strong>{{repos.length}}<br>
            <strong>Name: </strong>{{user.name}}<br>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex="33%" fxFlex.lt-md="33%" class="basic-user-details" *ngIf="processedEvents != null">
        <md-card>
          <md-card-header>
            <md-card-title style="margin: 0; padding:0;">{{user.login}}'s Recent Summary</md-card-title>
            <md-card-subtitle style="margin: 0; padding:0; margin-bottom: 5px;" *ngIf="myEvents[myEvents.length-1]">Since {{myEvents[myEvents.length-1].created_at}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <strong>Repos Created: </strong>{{processedEvents.CreateEvent.count}}<br>
            <strong>Commits Pushed: </strong>{{processedEvents.PushEvent.count}}<br>
            <strong>Pull Requests: </strong>{{processedEvents.PullRequestEvent.count}}
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
  <app-statistics [user]="user"></app-statistics>

</div>
